.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-1{
  flex: 0 0 8.33%;
  width: 8.33%;
}
.col-2{
  flex: 0 0 16.66%;
  width: 16.66%;
}
.col-3{
  flex: 0 0 25%;
  width: 25%;
}
.col-4{
  flex: 0 0 33.33%;
  width: 33.33%;
}
.col-5{
  flex: 0 0 41.66%;
  width: 41.66%;
}
.col-6{
  flex: 0 0 50%;
  width: 50%;
}
.col-7{
  flex: 58.33%;
  width: 58.33%;
}
.col-8{
  flex: 66.66%;
  width: 66.66%;
}
.col-9{
  flex: 75%;
  width: 75%;
}
.col-10{
  flex: 83.33%;
  width: 83.33%;
}
.col-11{
  flex: 91.66%;
  width: 91.66%;
}
.col-12{
  flex:0 0 100%;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  min-height: 1px;
}

@media (max-width: 800px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12{
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}