@import "base";
@import "grid";

body{
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  color: $color-typo-primary;
  background: url("/assets/img/bg.jpg") no-repeat;
  background-size: cover;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: $color-typo-white;
}
a:hover, a.logo:hover{
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}
.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container{
  width: 1200px;
  margin: auto;
}
header{
  grid-column: 1/5;
  margin-top: 15px;
  margin-bottom: 30px;
  min-height: 60px;
}
.logo{
  display: inline-flex;
  font-weight: $font-weight-bold;
  font-family: $font-secondary;
  font-size: $font-size-x-large;
  color: $color-typo-primary;
}
section{
  grid-column: 1/5;
  margin: 25px auto;
}
.card{
  border-radius: 5px;
  color: $color-typo-white;
  -webkit-box-shadow: 0 1px 20px -5px rgba(0,0,0,.75);
  -moz-box-shadow: 0 1px 20px -5px rgba(0,0,0,.75);
  box-shadow: 0 1px 20px -5px rgba(0,0,0,.75);
}
.card:hover{
  cursor: pointer;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 16px -5px rgba(0,0,0,0.75);
}
img.card-bg{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.card-body{
  padding: 15px;
}
.card-body > a > h2{
  text-decoration: underline $color-red;
}
.card-body > p{
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  font-style: italic;
  word-break: break-word;
}
footer{
  margin-top: 20px;
  grid-column: 1/5;

}
footer p{
  text-align: center;
  font-style: italic;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: $color-typo-primary;
  margin-top: 0;
}
input[type='text'].screen{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  height: 60px;
  padding: 0 20px;
  outline: none;
  border: none;
  background: $color-typo-white;
  font-size: $font-size-large;
}
.btn:hover{
  cursor: pointer;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7c7c7), color-stop(1, #f5f5f5));
  background:-moz-linear-gradient(top, #c7c7c7 5%, #f5f5f5 100%);
  background:-webkit-linear-gradient(top, #c7c7c7 5%, #f5f5f5 100%);
  background:-o-linear-gradient(top, #c7c7c7 5%, #f5f5f5 100%);
  background:-ms-linear-gradient(top, #c7c7c7 5%, #f5f5f5 100%);
  background:linear-gradient(to bottom, #c7c7c7 5%, #f5f5f5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#f5f5f5',GradientType=0);
  background-color:#c7c7c7;
}
.btn:active {
  position:relative;
  top:1px;
}
.btn{
  height: 48px;
  width: 48px;
  outline: none;
  background: #e9ecef;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #c7c7c7));
  background:-moz-linear-gradient(top, #f5f5f5 5%, #c7c7c7 100%);
  background:-webkit-linear-gradient(top, #f5f5f5 5%, #c7c7c7 100%);
  background:-o-linear-gradient(top, #f5f5f5 5%, #c7c7c7 100%);
  background:-ms-linear-gradient(top, #f5f5f5 5%, #c7c7c7 100%);
  background:linear-gradient(to bottom, #f5f5f5 5%, #c7c7c7 100%);
  background-color:#f5f5f5;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #adadad;
  display:inline-block;
  cursor:pointer;
  color: $color-background;
  font-size:28px;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
}
.form-group{
  display: block;
  margin-bottom: 10px;
}
.form-group > label{
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}
.form-control{
  border-radius: 5px;
  width: 100%;
  height: 48px;
  display: block;
  padding: 10px 15px;
  font-size: $font-size-regular;
  outline: none;
  border: none;
}
@media (max-width: 600px) {
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  header{
    margin-bottom: 10px;
  }
  section{
    margin-top: 0;
  }
}



